@model IEnumerable<Pokemon_AP_Project_G3.Data.Users>

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<h2>Registro</h2>

<form method="post" action="/Login/Register">
    <div>
        <label for="username">username:</label>
        <input class="form-control" type="text" placeholder="Ingrese el Usuario" type="text" name="username" id="username" required />
    </div>
    <div>
        <label for="nombre">Nombre:</label>
        <input  class="form-control" type="text" placeholder="Ingrese el Nombre" type="text" name="nombre" id="nombre" required />
    </div>

    <div>
        <label for="gender">Gender:</label>


        <select class="form-select" aria-label="Default select example" name="gender" id="gender" required>
            <option value="" disabled selected>Seleccione sugenero</option>
            <option value="Masculine">Masculine</option>
            <option value="Femenine">Femenine</option>
            <option value="Other">Other</option>
        </select>
    </div>
    <div>
        <label for="role">Role:</label>
        <select  class="form-select" aria-label="Default select example" name="role" id="role" required>
            <option value="" disabled selected>Seleccione su rol</option>
            <option value="Trainer">Trainer</option>
            <option value="Nurse">Nurse</option>
        </select>
    </div>


    <div>
        <label for="password">Password:</label>
        <input class="form-control"  type="password" name="password" id="password" required />
    </div>

    @if (ViewBag.Error != null)
    {
        <p style="color: red;">@ViewBag.Error</p>
    }
    <button class="btn btn-info"  type="submit">Register</button>
</form>
<p>
   ¿Ya tiene una Cuenta? <a href="/Login/Index">Inicie sesión aqui</a>.
</p>
